 /** Containter div das den Pin enthält **/
.custom-div-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    cursor: pointer;
  }
   /** ist der eigentliche Pin **/
  .marker-pin {
    width: 30px;
    height: 42px;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg) scale(0.6);
    background: #f00;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
  }
  /**erstellt einen kleinen Kreis im Inneren des Pins, nur für die Optik **/
  .marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    transform: rotate(45deg);
  }
  