:root {
    --primary-color: #0048fd; /* Beispielhafte Farben vom Logo */
    --secondary-color: #ffcc00;
    --text-color: #ffffff;
    --hover-color: #003580;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    margin-top: 10px; /* Abstand vom oberen Rand */
    max-height: 70px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    padding: 5px 10px;
    border-radius: 5px;
}

.links a:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
}
